:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: grey;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.outter-box{
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  border: 10px grey solid;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.no-of-items{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

span{
  align-self: center;
  transform: scale(1.5);
}

h5{
  padding: 10px 30px;
  background-color: grey;
  border-radius: 20px;
  margin-left: 10px;
}

p{
  font-size: 1.5rem;
  align-self: center;
}

.items-box{
  display: flex;
  column-gap: 10px;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
}

h3{
  padding: 5px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;

}

.reset-box{
  display: flex;
  column-gap: 10px;
  justify-content: center;
  transform: scale(1.3);
}
